<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Mariano Nicolás Gapel</p>
        <p>Full-stack Developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"> 
        <span> 
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse eos error nam fugiat temporibus, corporis dolore ea repudiandae voluptatum consequatur porro libero nulla dignissimos tenetur repellendus a. Quaerat, praesentium deserunt?</p>
        </span>
    </div>
</div>