.row{
    padding: 40px;
}
div{
    background-color: #b576ef;
    text-align: center;
}
@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 3%;
        top: 380px;
    }
}
@media (max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 42%;
        top: 475px;
    }    
}
#nombre{
    font-weight: bold;
    margin-top: 25px;
}