<div class="row"> 
    <h1>Proyectos realizados</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul> 
            <li> 
                <h1>Proyecto 1</h1>- 
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium itaque nulla, assumenda officiis dolor commodi delectus obcaecati. Veritatis saepe aperiam vel fugit, deserunt ipsum omnis animi ducimus tempora commodi magni.
            </p>
        </ul>
        <ul> 
            <li> 
                <h1>Proyecto 2</h1>-
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium itaque nulla, assumenda officiis dolor commodi delectus obcaecati. Veritatis saepe aperiam vel fugit, deserunt ipsum omnis animi ducimus tempora commodi magni.
            </p>
        </ul>
    </div>
</div>