.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes{
    margin-right: 2em;
}
#logoAP{
    width: 150px;
}
img{
    width: 50px;
}
.btn{
    border-width: medium;
}
@media(max-width: 575px){
.container{
    flex-direction: column;
}
.redes{
    display: flex;
    margin-right: 0em;
}
}
